:root {
  --clr-red-400: hsl(345, 95%, 68%);
  --clr-red-500: hsl(345 75% 60%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-300: hsl(237, 18%, 59%);
  --clr-blue-400: hsl(236, 21%, 26%);
  --clr-blue-450: hsl(240, 21%, 22%);
  --clr-blue-500: hsl(235, 16%, 14%);
  --clr-blue-600: hsl(234, 17%, 12%);
  --clr-black: hsl(0 0% 0%);
  --fs-400: 0.875rem;
  --fw-700: 700;
}

.container {
  font-size: clamp(2.5rem, 6vw, 7rem);
  position: relative;
  width: 11.806vw;
  min-width: 75px;
  aspect-ratio: 170 / 150;
  perspective: 1300px;
  color: var(--clr-red-500);
  background-color: var(--clr-blue-450);
  box-shadow: 0 0.69444444444vw 0 var(--clr-blue-600);
}

@media (max-width: 400px) {
  .container {
    box-shadow: 0 5px 0 var(--clr-blue-600);
  }
}

.upper-part,
.lower-part {
  height: 50%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center bottom;
}

.upper-part {
  z-index: 1;
}

.front,
.back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: var(--clr-blue-450);
  overflow: hidden;
}

.front {
  color: var(--clr-red-500);
}

.back {
  transform: rotateY(180deg) rotateZ(180deg);
  background: var(--clr-blue-400);
}

.lower-part,
.back {
  color: var(--clr-red-400);
}

.number {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0;
}

.back .number,
.lower-part .number {
  top: 0;
}

.upper-part.flip {
  animation: flip 0.5s;
}

.lower-part {
  overflow: hidden;
  position: relative;
  background: var(--clr-blue-400);
}

.container > .number {
  top: 50%;
}

@keyframes flip {
  from {
    rotate: 1 0 0 0deg;
  }
  to {
    rotate: 1 0 0 -180deg;
  }
}

.container {
  border-radius: 0.694vw;
}

.upper-part,
.upper-part .front {
  border-top-right-radius: 0.694vw;
  border-top-left-radius: 0.694vw;
}

.lower-part,
.upper-part .back {
  border-bottom-right-radius: 0.694vw;
  border-bottom-left-radius: 0.694vw;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clr-black);
  border-radius: 0.694vw;
  transition: background 0.25s;
}

.container:has(.flip)::before {
  background: transparent;
}

.back::before {
  content: "";
  position: absolute;
  border-bottom-right-radius: 0.694vw;
  border-bottom-left-radius: 0.694vw;
  inset: 0;
  background: var(--clr-white);
  transition: background 0.4s;
}

.flip .back::before {
  background: transparent;
}

.container::after {
  content: "";
  position: absolute;
  height: clamp(0.1px, 0.0694vw, 1px);
  width: 100%;
  background: var(--clr-blue-500);
  z-index: 99;
  top: 50%;
  left: 0;
  opacity: 0.5;
}

.circle {
  --outside: var(--clr-blue-500);
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 0.52083vw solid;
  border-color: var(--clr-blue-600) var(--clr-blue-600) var(--outside)
    var(--outside);
  z-index: 99;
}

.circle.left {
  left: -0.52083vw;
  top: 50%;
  rotate: 45deg;
  transform: translate(-0.2777vw, -0.3472vw);
}

.circle.right {
  rotate: -135deg;
  right: 0;
  top: 50%;
  transform: translate(-0.03472vw, 0.65972vw);
}
