:root {
  --clr-red: hsl(345, 95%, 68%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-300: hsl(237, 18%, 59%);
  --clr-blue-400: hsl(236, 21%, 26%);
  --clr-blue-500: hsl(235, 16%, 14%);
  --clr-blue-600: hsl(234, 17%, 12%);
  --fs-400: 1rem;
  --fw-700: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  display: grid;
  justify-content: center;
  align-items: start;
  min-height: 100dvh;
  gap: 7rem;
  position: relative;
}

/* Utility classes */

.uppercase_space {
  text-transform: uppercase;
  letter-spacing: 0.556vw;
}

.flex {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
}

.grid {
  --gap: 2.22vw;
  display: grid;
  gap: var(--gap);
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.just-items-center {
  justify-items: center;
}
